<link rel="stylesheet" href="../../public/styles/main.css">
<header class="navbar">

    <div class="logo">
        🍳 RecipeHub
    </div>

    <nav class="nav-links">
        <a href="/">Home</a>
        <a href="/recipes">Recipes</a>
        <a href="/about">About</a>
    </nav>

</header>